/* ALL */

html .x-navbar .x-nav li > a:after {
    content: "";
}
html h1.entry-title {
  width:100%;
  font-size: 24px;
  margin-bottom: 10px;
}
html header.entry-header {
  float:left;
  width:310px;
}

html header .entry-header img{
  
}
html .x-container-fluid.width {
    width: 100%;
}

.x-navbar-fixed-top {
  display:none !important;
}

#sel_viz
{
    height:700px;
    width:100%;
    position:relative;
}

/* SUNBURST */

path {
  stroke: #fff;
  fill-rule: evenodd;
}

/* TEXT */

text {
  font-family: "Lucida Console", Monaco, monospace;/*"Oswald",Helvetica,sans-serif;*/
  font-size: 15px;
  font-weight:400;
}

g:hover, g text:hover{
  cursor:pointer;
}

text[depth="0"] {
  font-size: 20px !important;
}

text.isCenter,text[depth="0"][root="0"] {
/*  transform:rotate(0) !important;*/
  font-family:  "Lucida Console", Monaco, monospace; /*"Oswald",Helvetica, sans-serif !important;*/
  font-size: 18px;

}

body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

/* TOOLTIP */

#tooltip {


    position: absolute;
    width: 180px;
    height: auto;
    padding: 10px;
    color: #FFFFFF;
    background: #FFFFFF;/*#0E80B3;*/
    opacity: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    }

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

div.tooltip {   
  position: absolute;           
  text-align: center;                        
  padding: 10px;             
  font: 16px sans-serif;        
  background: white;/*lightsteelblue;  */ 
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  border: 20px;      
  border-radius: 8px;           
  pointer-events: none;         
}

/* MAPS VISUALIZATION*/

#maps
{
    height:700px;
    width:100%;
    position:relative;
}

/* DOTS VISUALIZATION */

.axis path,
.axis line
{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text
{
	font-family: sans-serif;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
	font-size: 11px;
}

.tick text{
font-size: 12px;
}

.tick line{
opacity: 0.2;
}

/* INPUT for filtering and comboboxes */

select {
	
   background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;  /* Imagem de fundo (Seta) */
   background-position: 218px center;  /*Posição da imagem do background*/
   
   height:30px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
   border:1px solid #ddd;

}

input {
	height:30px;
	border:1px solid #ddd;
	background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;  /* Imagem de fundo (Seta) */
   background-position: 218px center;  /*Posição da imagem do background*/

}

input:disabled {
	background:white;
	border: white;
}


/* PARARELL COORDINATES */

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.brush .extent {
  fill-opacity: 0.3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

/* NUMBER OF SELECTED */

div.bar 
{
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}


