path {
  stroke: #fff;
  fill-rule: evenodd;
}
html .x-navbar .x-nav li > a:after {
    content: "";
}
html h1.entry-title {
  width:100%;
  font-size: 24px;
  margin-bottom: 10px;
}
html header.entry-header {
  float:left;
  width:310px;
}
#viz {
  float:left;
  /*width:685px;
  left:-35px;
  position:relative;*/
}
#messageText {
  clear:both;
  margin-left:30px;
  margin-rigth:30px;
}
html header .entry-header img{
  
}
html .x-container-fluid.width {
    width: 100%;
}
#vizContainer {
  /*height:600px;*/
  width:100%;
}

#sel_viz
{
    height:700px;
    width:100%;
    position:relative;
}

#maps
{
    height:700px;
    width:100%;
    position:relative;
}

.x-navbar-fixed-top {
  display:none !important;
}
#vizKey {
 position:relative;/*
 float:right;
 left:35px; 
  height:20px;*/
}

text {
  font-family: "Oswald",Helvetica,sans-serif;
  font-size: 12px;
  font-weight:400;
}
g:hover, g text:hover{
  cursor:pointer;
}
text[depth="0"] {
  font-size: 20px !important;
}
text.isCenter,text[depth="0"][root="0"] {
/*  transform:rotate(0) !important;*/
  font-family:"Oswald",Helvetica, sans-serif !important;
  font-weight:700;
}

.benefitDetails {
  x:10;
}
.benefitComponents {
  
}
.benefitNet {
  
}
svg {
  height:730px !important;
}

#tooltip {


    position: absolute;
    width: 180px;
    height: auto;
    padding: 10px;
    color: #FFFFFF;
    background: #FFFFFF;/*#0E80B3;*/
    opacity: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    }

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

/* dots visualization */
.axis path,
.axis line
{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text
{
	font-family: sans-serif;
	font-size: 11px;
}